DJANGO_DEBUG=False
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=!!!SET DJANGO_SECRET_KEY!!!
DJANGO_ADMINS=Full Name <email-with-name@example.com>,anotheremailwithoutname@example.com
DJANGO_STAFF=Full Name <email-with-name@example.com>,anotheremailwithoutname@example.com
DJANGO_ALLOWED_HOSTS=example.com
